---
import BaseLayout from "../layouts/BaseLayout.astro";
import Footer from "../components/Footer.astro";

const headTitle = "About"
const pageTitle = "PHILE OR FOOL";

const identity = {
    firstName: "Everett",
    hobbies: ["rock music - prog/art rock - Pink Floyd (die-hard fan)", "movies & tv shows - GOT(recently)", "scientific topics", "mathematics", "artificial intelligence - (multimodal)", "machine learning","electric guitar 🎸"]
}

// const happy = true;
// const finished = false;
// const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle} headTitle={headTitle}>
    <p>I'm {identity.firstName}, currently an undergraduate majoring in Stats/Data Science</p>

    {identity.hobbies.length >= 0 &&
        <p>I love:
            <ul>
                {identity.hobbies.map((hobby) => <li>{hobby}</li>)}
            </ul>
        </p>
    }
    <!-- {happy && <p>I am happy to be learning Astro!</p>}
    {finished && <p>I finished this tutorial</p>}
    {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>} -->
</BaseLayout>