---
const { title, url, description, image} = Astro.props
---
<li class="post-preview">
    <a href={url}>
        <h3>{title}</h3>
        {image && (
            <img src={image.url} alt={image.alt} loading="lazy" style="visibility: hidden;" />
        )}
    </a>
</li>

<script>
    import "../scripts/post-preview.js";
</script>