---
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
	<nav class="site-nav">
		<p class="brand-mark">Audiofool</p>
		<Navigation />
		<ThemeIcon />
	</nav>
</header>
