---
---
<div class="nav-links">

    <a href="/">🏠</a>
    <a href="/about/">🧑</a>
    <a href="/alog/">📝</a>
    <a href="/audioshow/">📻</a>
    <a href="/projects/">📂</a>
    <a href="/tags/">🏷️</a>

    <!-- <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/alog/">Alog</a>
    <a href="/audioshow/">Audioshow</a> -->
</div>