---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---
<BaseLayout headTitle={frontmatter.title}>
    <h2>{`${frontmatter.title} EP ${frontmatter.episode}`}</h2>
    <p><em>{frontmatter.description}</em></p>
    <p>{frontmatter.pubDate.toString().slice(0,10)}</p>    
    <slot />
</BaseLayout>